<div class="item{%- for category in exhibit.categories -%}
                          {%- if category.name -%}
                            {{- category.slug | prepend: " " -}}
                          {% endif %}
                          {%- endfor -%}">
          <div class="img-container"><a href="{{exhibit.url}}">
            <img src="{{exhibit.image-primary.medium.url}}" alt="{{exhibit.title}}" 
                style="width:{{exhibit.image-primary.medium.width}}px; height:{{exhibit.image-primary.medium.height}}px"></a>
          </div>
          <div class="title-container"><a href="{{exhibit.url}}">{{exhibit.title}}</a></div>
          <div class="description-container" style="display:none">{{exhibit.description}}</div>
        </div>