<section class="content-panel">
<div class="container" style="padding-top:20px; padding-bottom:40px;">
  <div class="row">
    <div class="col-sm-6">
      <a href="/exhibits/"><img class="aligncenter size-full" src="/assets/images/site-branding/explore-the-exhibits.png" alt="Explore the Exhibits"></a>
    </div>
    <div class="col-sm-6">
      <a href="/exhibits/"><img class="aligncenter size-full" src="/assets/images/site-branding/meet-the-makers.png" alt="Meet the Makers"></a>
    </div>
  </div>
</div>
<div class="flag-banner"></div>
</section>
