{% comment %}
  Uses _data/menus.yaml to build the footer menu

  I purposely duplicated the code for the two sides of the footer
  with Maker Faire Orlando and Maker Faire since the Maker Faire
  side has different formatting

  Old way of doing selection, I wanted to get away from using the hardcoded event name
    {% assign mfo = site.data.menus.footernav
      | where_exp:"footernav", "footernav.title == 'Maker Faire Orlando'"
      | first %}

    {% assign mf = site.data.menus.footernav
        | where_exp:"footernav", "footernav.title == 'Maker Faire'"
        | first %}

{% endcomment %}


{% assign mfo = site.data.menus.footernav.first %}
{% assign mf =  site.data.menus.footernav.last %}

{% comment %}
{% include cta-panel-widget.html cta_text=site.data.cta.footer.text cta_url=site.data.cta.footer.url %}
{% endcomment %}

<footer class="gmf-footer">
  <div class="container">
    <div class="row padbottom">
      <div class="col-xs-12 col-sm-4 col-md-3 footer-mfo-block">
        <div class="footer-logo-div">
          <a href="/">
            <img class="img-responsive footer-logos footer-local-logo" src="{{ mfo.image | relative_url }}" alt="{{ mfo.imagealt }}"></a>
        </div>
  	    <div class="menu-footer-left-container">
          <ul id="menu-footer-menu" class="list-unstyled">
            {% for item in mfo.subfolderitems %}
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{{ item.url }}">{{ item.page }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="social-network-container">
          <ul class="social-network social-circle">
            {% for item in mfo.socialitems %}
            <li><a href="{{item.url}}" title="{{mfo.title}} on {{item.title}}" target="_blank" rel="noopener"><i class="{{item.icon}}"></i></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-9 footer-mf-block">
        <div class="footer-logo-div">
          <a href="https://makerfaire.com/" target="_blank" rel="noopener">
            <img class="img-responsive footer-logos" src="{{ mf.image | relative_url }}" alt="{{ mf.imagealt }}"></a>
        </div>
          <div class="mf-footer-cols">
            {% for col in mf.columns %}
            <div class="mf-footer-col">
              <h4 class="mf-footer-heading">{{ col.heading }}</h4>
              <ul class="list-unstyled">
                {% for item in col.items %}
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{{ item.url }}" target="_blank" rel="noopener">{{ item.page }}</a></li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="social-network-container">
                  <ul class="social-network social-circle">
                    {% for item in mf.socialitems %}
                    <li><a href="{{item.url}}" title="{{mf.title}} on {{item.title}}" target="_blank" rel="noopener"><i class="{{item.icon}}"></i></a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include footer-notices.html %}
      </div>
    <div>
  </div>
  {% if page.page_footer_ad != false and site.data.settings.footer_ad==true %}
  <div class="banner">
    <picture>
      <a href="{{site.data.settings.footer_ad_url}}"><img src="/assets/images/site-branding/{{site.data.settings.event_year}}/bottom-footer.png" alt="Maker Faire Orlando Advanced Tickets Now On Sale" style="max-width: 100%; height: auto;"></a>
    </picture>
  </div>
  {% endif %}
</footer>