<div class="row padtop">
  <div class="col-xs-12">
    <p class="copyright-footer text-center">Maker Faire Orlando is independently organized and operated under license from Make: Community, LLC.</p>
    {% include oc-funding-notice.html %}
    <div class="mf-funding-logos">
      <img src="{{ 'assets/images/site-branding/tmef_logo_rectangle_black.png' | relative_url }}" alt="The Maker Effect Foundation logo">
      <img class="mf-oc-logo" src="{{ 'assets/images/site-branding/26.01_OC_Logo_H-Black_RGB.png' | relative_url }}" alt="Orange County Arts &amp; Cultural Affairs logo">
    </div>
  </div>
</div>
